[Unit]
Description=Bluetooth service
After=connman.service
ConditionPathExists=!/run/systemd/boot-status/ACT_DEAD
ConditionPathIsDirectory=/sys/kernel/debug/bluetooth

[Service]
Type=dbus
BusName=org.bluez
EnvironmentFile=-/etc/tracing/bluez/bluez.tracing
ExecStart=/usr/sbin/bluetoothd -n $TRACING
Restart=on-failure

[Install]
WantedBy=bluetooth.target
Alias=dbus-org.bluez.service
